* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.img-div {
  background-color: #ccc;
  width: 30%;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 4rem;
}

h1 {
  margin-bottom: 3rem;
}

.fields-container {
  display: flex;
}

p {
  margin-top: 1rem;
}

input {
  margin-top: 0.5rem;
  margin-right: 3rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  line-height: 1.5rem;
  padding: 0 0.5rem;
}

input:focus {
  outline: 2px solid #327ba8;
}

button {
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  background-color: #327ba8;
  color: #fff;
  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;
}