:root {
  --brand-color: #327ba8;
  --brand-color-hover: #275f82;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.img-div {
  background-color: #ccc;
  width: 30%;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 4rem;
}

h1 {
  margin-bottom: 3rem;
}

.fields-container {
  display: flex;
}

p {
  margin-top: 1rem;
}

input {
  margin-top: 0.5rem;
  margin-right: 3rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  line-height: 1.5rem;
  padding: 0 0.5rem;
}

input:focus {
  outline: 2px solid var(--brand-color);
}

button {
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: 1px solid var(--brand-color);
  background-color: var(--brand-color);
  color: #fff;
  letter-spacing: 0.03rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--brand-color-hover);
  transition-duration: 0.12s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:active {
  /* border: none; */
  background-color: var(--brand-color);
}


a {
  text-decoration: none;
}